h1 { 
  color:dodgerblue;
  border: 1px solid dodgerblue;
}

p {
  color:tomato;
  border:1px dashed #ff6347;
}

input {
  background: rgba(75,0,130,30%);
  border:3px solid rgb(75,0,130);

}


h5 {
color: hsl(136, 54%, 43%);
/** you can also do the hsla which just like the rgba it just makes the color darker or brighter 
depending on the percentage you use. You can either use the percent sign 50% or just a decimal .5 
to determine what percentage you want **/

}