
 .nav1{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly ;
  padding:0px;
  margin: 0px;
}

.about{
  position: relative;
  right: 150px;
  color: black;

}
.store{
  position: relative;
  right:290px;
  color: black;
}
.gmail {
  position: relative;
  left: 570px;
  color: black;
}
.images {
  position: relative;
  left: 429px;
  color: black;
}

.icon1 {
position: relative;
left: 290px;
}

.icon2 {
  position: relative;
  left: 150px;
}

img {
  width: 20px;
  height: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.google {
height:100px;
width:400px;
position: relative;
left: 310px;
background-color: white;
top: 30px;
} 

.lowernav {
  position: relative;
  top: 455px;
  width: 1267px;
  right: 200px;
  background-color: rgb(211, 211, 211);
  height: 50px;
  margin: 0px;
  padding: 0px;
}

.container2 {
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin: 0px;
}

.advert {
position: relative;
color: black;
}

.bus {
  position: relative;
  left: 4px;
  color: black;
}

.how {
  position: relative;
  left: 8px;
  color: black;
}

.priv {
  position: relative;
  left: 815px;
  color: black;
}

.terms {
  position: relative;
  left: 821px;
  color: black;
}


.settings{
  position: relative;
  left: 830px;
  color: black;
}

.search {
  width: 500px;
  position: relative;
  left: 270px;
  height: 40px;
  border-radius:  20px;
  top:60px;

}

.settings, .terms, .priv, .how, .bus, .advert {
top: 10px;
padding: 0px;
margin: 0px;
} 


.voice {
  position: relative;
  left: 730px;
  top: 30px;
  height: 20px;
  width: 30px;
  border-radius: 20px;
  background-color:none;
  
}

.magnifying-glass {
  position: relative;
  left: 250px;
  top: 30px;
  height: 20px;
  width: 30px;
  border-radius: 20px;
  background-color:none;
}

.googlesearch {
  position: relative;
  left: 320px;
  top: 40px;
  
}


.lucky {
  position: relative;
  left: 320px;
  top:40px;
}

.lucky,.googlesearch {
  position: relative;
  top:70px;
  right: 30px;
}




















